<div class="col col-1" style="color: #5a5f66 ;font-weight: bold;" data-label="Event">Exam</div>
<div class="col col-1-2" data-label="Date">
    {% if include.event.dateless %}
    TBC
    {% else %}
    {{ event.date | date: site.dateformat }}
    {{ event.date | date: "%H:%M" }}
    {% if include.event.tbc %}(TBC){% endif %}
    <br class="date-spliter"/>{{ event.date | date: "%A" }}
    {% endif %}
</div>
<div class="col col-2" data-label="Description">
    {{ include.event.description }}
</div>
<div class="col col-4 markdown-content" data-label="Course Material">
    {{ include.event.content}}
</div>